<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form method="POST" action="/auth/login">
            Email:<br />
            <input type="text" name="email" /> <br />
            Password:<br />
            <input type="password" name="password" />
            <br />
            <% if(locals.message) { %>
            <font color="red"><%= message %></font> <br />
            <% } %>
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
