 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All books</title>
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h1>All books:</h1>
    <table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <% books.forEach(function(books) { %>
        <tr>
            <td><%= books.title %></td>
            <td><%= books.description %></td>
            <td><%= books.price %></td>
        </tr>
    <% }) %>
    </table>
</body>
</html>